<?xml version="1.0" encoding="utf-8"?>
<configuration>

	
	<connectionStrings>
		<add name="StreetChildrenDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=StreetChildrenCareDB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
